<div class="cart__item">
  <a href="{{ item.url }}">
    <img class="cart-item__image"
      src="{{ item | img_url: '99x99' }}"
      alt="{{ item.title | escape }}">
  </a>

  <div class="cart-item__info">
    <h2 class="cart-item__title">{{ item.title | split: ' -' | first }}</h2>

    {% assign itemColor = blank %}
    {% for opt in item.options_with_values %}
      {% assign name = opt.name | downcase %}
      {% if name contains 'color' %}
        {% assign itemColor = opt.value %}
      {% endif %}
    {% endfor %}

    {% capture colorTemplate %}{% if itemColor != blank%} - {{ itemColor }}{% endif %}{% endcapture %}

    {% for tag in item.product.tags %}
      {% if tag contains 'material_' %}
        <small class="cart-item__small">{{ tag | remove: 'material_' }}{{ colorTemplate }}</small>
      {% else %}
        <small class="cart-item__small">{{ itemColor }}</small>
      {% endif %}
    {% endfor %}
    {% for opt in item.options_with_values %}
      {% assign name = opt.name | downcase %}
      {% unless name contains 'color' %}
        <small class="cart-item__small">{{ opt.name }}: {{ opt.value }}</small>
      {% endunless %}
    {% endfor %}

    <div class="cart-item__quantity">
      <button type="submit" name="update"
        class="cart-item__quantity-button js-quantity-less">-</button>

      <input id="updates_{{ item.key }}"
        class="cart-item__quantity-input js-quantity"
        type="text"
        name="updates[]"
        readonly
        value="{{ item.quantity }}" />

      <button type="submit" name="update"
        class="cart-item__quantity-button js-quantity-add">+</button>
    </div>
  </div>

  <p class="cart-item__price">{{ item.line_price | money_without_trailing_zeros }}</p>
  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart-item__remove">Remove</a>
</div>
