<section class="product-toolbar">
  <div class="product-toolbar__wrapper">
    <div class="product-toolbar__info">
      <h2 class="product-header__title product-toolbar__title ">{{ product.title | split: ' -' | first }}</h2>
      <p class="product-header__price product-toolbar__price">{{ price | money_without_trailing_zeros }}</p>
    </div>

    <div class="product-toolbar__actions">
      <div class="product-toolbar__variants-wrapper">
        {% include 'product-options' with: { helperBar: true }%}
      </div>
      <div class="product-toolbar__button">
        <button type="submit"
          id="product-toolbar__cta"
          name="add"
          {% unless current_variant.available %}disabled="disabled"{% endunless %}
          class="btn {{ section.settings.button_type }} product-header__button js-product-toolbar__cta">
          <span id="AddToCartText-{{ section.id }}-toolbar">
            {% unless current_variant.available %}
              {{ 'products.product.sold_out' | t }}
            {% else %}
              {{ 'products.product.add_to_cart' | t }}
            {% endunless %}
          </span>
        </button>
        <p class="product-header__shipping-info">Free shipping. Free returns. Free exchanges!</p>
      </div>
    </div>
  </div>
</section>
