{% assign firstColorList = '' %}

{% for product_option in product.options_with_values %}
    {% assign optionName = product_option.name | downcase %}
    {% if optionName == 'color' %}
      {% capture colorName %}color_{{ product_option.values[0] }}_{% endcapture %}
      {% for value in product.images %}
        {% if value contains colorName %}
          {% capture firstColorList %}{{ firstColorList }}{{ value | img_url: '460x460', crop: 'center' }},{% endcapture %}
        {% endif %}
      {% endfor %}
    {% endif %}
{% endfor %}

{% assign firstColorArray = firstColorList | split: ',' %}
{% assign firstColor = '' %}
{% assign secondColor = '' %}

{% if firstColorList != blank %}
  {% assign firstColor = firstColorArray[0] %}
  {% assign secondColor = firstColorArray[1] %}
{% else %}
  {% assign firstColor = product.images[0] | img_url: '460x460', crop: 'center' %}
  {% assign secondColor = product.images[1] | img_url: '460x460', crop: 'center' %}
{% endif %}

<li class="product-grid__item">
  <a id="card-{{ product.handle }}"
    class="product-grid__item-link"
    href="{{ product.url }}">
    <img id="product-grid-image-{{ product.id }}"
      class="product-grid__item-image product-grid__item-image--primary"
      src="{{ firstColor }}"
      data-list="{{ firstColorList }}"
      data-images='{% for img in product.images %}{{ img | img_url: '460x460' }}{% unless forloop.last %},{% endunless %}{% endfor %}'/>
      <img id="product-grid-image-secondary-{{ product.id }}"
      class="product-grid__item-image product-grid__item-image--secondary"
      src="{{ secondColor }}" />
  </a>

  {% for product_option in product.options_with_values %}
    {% assign optionName = product_option.name | downcase %}

    {% if optionName == 'color' %}
      <div class="product-grid__item-color">
        <div class="color-picker">
          {% for value in product_option.values %}

            {% assign colorsStrings = value | split: '/' %}
              {% assign colorsCount = colorsStrings | size %}

              {% if colorsCount == 2 %}
                {% assign limit = 2 %}
                {% assign colorClass = 'color--double' %}
              {% elsif colorsCount == 3 %}
                {% assign limit = 3 %}
                {% assign colorClass = 'color--triple' %}
              {% else %}
                {% assign limit = 1 %}
                {% assign colorClass = ' ' %}
              {% endif %}

              {% if forloop.index0 == 0 %}
                {% capture initialInput %}pg-color-{{ value | downcase | remove: ' ' | remove: '/' }}-{{ product.id }}{% endcapture %}
              {% endif %}

            <div class="color-item">
              <input id="pg-color-{{ value | downcase | remove: ' ' | remove: '/' }}-{{ product.id }}"
                type="radio"
                name="color-{{ product.id }}"
                value="{{ value | downcase | remove: ' ' | remove: '/' }}"
                data-name="{{ value | downcase | replace: '/', ' / ' }}"
                class="color-item__input js-product-grid-color"
                data-handle="{{ product.handle }}"
                data-target="product-grid-image-{{ product.id }}"
                data-target-secondary="product-grid-image-secondary-{{ product.id }}"
                {% if product_option.selected_value == value %} checked="checked" {% endif %}>
                <!-- <label for="pg-color-{{ value | downcase | remove: ' ' | remove: '/' }}-{{ product.id }}" class="color-item__label color-{{ value | downcase | remove: ' ' }}"></label> -->
                <label for="pg-color-{{ value | downcase | remove: ' ' | remove: '/' }}-{{ product.id }}"
                  class="color-item__label {{ colorClass }}"
                  title="{{ value }}">
                  <div>
                    {% for i in (1..limit) %}
                      <span class="color-{{ colorsStrings[forloop.index0] | remove: ' ' | downcase }}"></span>
                    {% endfor %}
                  </div>
                </label>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <a class="product-grid__item-link"
    href="{{ product.url }}">
    <h3 class="product-grid__item-title">{{ product.title | split: ' -' | first }}</h3>
    {% for tag in product.tags %}
      {% if tag contains 'material_' %}
        <span class="product-grid__item-variant">{{ tag | remove: 'material_' }}</span>
      {% endif %}
    {% endfor %}
    <span class="product-grid__item-price">{{ product.price | money_without_trailing_zeros }}</span>
  </a>

  <script>
    $(document).on('ready', function() {
      $('[for="{{ initialInput }}"]').click()
    });
  </script>
</li>
