<div class="account account-page">
  <div class="account-page__wrapper">
    <span class="account-page__label">{{ settings.page_label }}</span>

    <div class="account-page__details-wrapper">
      <div class="account-page__orders">
        <h2 class="account-page__title">{{ settings.orders_title }}</h2>
        {% if customer.orders.size != 0 %}
          <div class="order__list">
            {% for order in customer.orders %}
              <div class="order">
                <a href="{{ order.customer_url }}" class="order__wrapper">
                  <h3 class="order__title">Beckett {{ order.name }}</h3>
                  <date class="order__date">{{ order.created_at | date: format: 'abbreviated_date' }}</date>
                  <span class="order__status">{{ order.financial_status_label }}</span>
                  <span class="order__status">{{ order.fulfillment_status_label }}</span>
                  <span class="order__price">{{ order.total_price | money }}</span>
                </a>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p>No Orders ... yet</p>
        {% endif %}
      </div>

      <div class="account-page__details">
        <h1 class="account-page__title">{{ settings.account_title }}</h1>
        <div class="account-page__address">
          {{ customer.default_address | format_address }}
        </div>

        <a href="/account/addresses" class="account-page__addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>

        <a href="/account/logout" class="btn btn--scarlet">{{ settings.logout_text }}</a>
      </div>
    </div>
  </div>
</div>
