<div class="article">
  <div class="article__content">
    <div class="article__header">
      <h1 class="article__title">{{ article.title }}</h1>

      <img src="{{ article.image | img_url: '564x564' }}" class="article__image" />
      {% if section.settings.show_share_buttons %}
        {% include 'article-tags-social', share_title: article.title, share_permalink: article.url, share_image: article.image %}
      {% endif %}

      {% if section.settings.blog_show_author %}
        <p class="article__author">Written by: <span>{{ article.author }}</span></p>
      {% endif %}

      {% if section.settings.blog_show_date %}
        <span class="article__date">
          {{ article.published_at | time_tag: format: 'month_day_year' }}
        </span>
      {% endif %}
    </div>

    <div class="rte article__description">
      {% include 'blog-article-content' %}

      <span class="separator"></span>

      <p>{{ section.settings.afterpost }}</p>

      {% include 'inline-share' %}
    </div>
  </div>
</div>

<script>
  if (window.innerWidth > 650) {
    const images = document.querySelectorAll('.article__description img');
    images.forEach(i => {
      if (i.width > 650) {
        i.style.marginLeft = '-15%';
        i.style.marginRight = '-15%';
      }
    });
  }
</script>

{% schema %}
  {
    "name": "Posts",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": false
      },
      {
        "type": "html",
        "id": "afterpost",
        "label": "After Post"
      }
    ]
  }
{% endschema %}
