<div class="cart__wrapper">
  <form action="/cart"
    method="post"
    novalidate
    class="cart__form js-cart">
    <div class="cart__list">
      <div class="section-header text-center">
        <h1 class="cart__title">{{ section.settings.title }}</h1>
      </div>

      {% if cart.item_count > 0 %}
        <div class="cart__items">
          {% for item in cart.items %}
            {% include "cart-item" %}
          {% endfor %}
        </div>
      {% else %}
        <div class="cart-empty__header">
          {{ 'cart-emty.svg' | asset_url | img_tag: '', 'cart-empty__image' }}

          <p class="cart-empty__text">{{ settings.inline_cart_empty_text }}</p>
        </div>

        <div class="cart-empty__content">
          {% for i in (1..4) %}
            {% capture btn_text %}inline_cart_empty_btn_{{ i }}{% endcapture %}
            {% capture btn_link %}inline_cart_empty_btn_{{ i }}_link{% endcapture %}
            {% capture btn_style %}inline_cart_empty_btn_{{ i }}_style{% endcapture %}

            {% if settings[btn_text] %}
              <a href="{{ settings[btn_link] }}" class="btn {{ settings[btn_style] }} cart-empty__btn">{{ settings[btn_text] }}</a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="cart__actions">
      <div class="cart__prices">
        <div class="cart__price">
          <p class="cart-price__label">{{ section.settings.total_label }}</p>
          <p class="cart-price__total">{{ cart.total_price | money_without_trailing_zeros }}</p>
        </div>
        <div class="cart__price">
          <p class="cart-price__label">{{ section.settings.shipping_label }}</p>
          <p class="cart-price__total cart-price__total--red">{{ section.settings.shipping_price }}</p>
        </div>
      </div>

      <button type="submit" name="checkout" class="btn {{ section.settings.checkout_color }}" >{{ section.settings.checkout_text }}</button>
      <a href="{{ section.settings.secondary_link }}" class="btn {{ section.settings.secondary_color }}" >{{ section.settings.secondary_text }}</a>
      <p class="text-small cart__shipping-info">Free shipping, free returns, free exchanges.</p>
    </div>
  </form>
</div>

{% schema %}
  {
    "name": "Cart page",
    "class": "cart__section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Page Title",
        "default": "Shopping cart"
      },
      {
        "type": "header",
        "content": "Cart Checkout options"
      },
      {
        "type": "text",
        "id": "total_label",
        "label": "Total Label",
        "default": "Subtotal (tax excl.)"
      },
      {
        "type": "text",
        "id": "shipping_label",
        "label": "Total Label",
        "default": "Subtotal (tax excl.)"
      },
      {
        "type": "text",
        "id": "shipping_price",
        "label": "Shipping Price",
        "default": "Subtotal (tax excl.)"
      },
      {
        "type": "text",
        "id": "checkout_text",
        "label": "Checkout CTA",
        "default": "Checkout"
      },
      {
        "type": "select",
        "id": "checkout_color",
        "options": [
          { "value": "btn--white", "label": "White"},
          { "value": "btn--scarlet", "label": "Scarlet (red)"},
          { "value": "btn--dark", "label": "Dark"},
          { "value": "btn--outline", "label": "Transparent (black)"},
          { "value": "btn--outline--white", "label": "Transparent (white)"}
        ],
        "label": "checkout Style",
        "default": "btn--scarlet"
      },
      {
        "type": "header",
        "content": "Cart Secondary option"
      },
      {
        "type": "text",
        "id": "secondary_text",
        "label": "Secondary CTA",
        "default": "Continue Shopping"
      },
      {
        "type": "select",
        "id": "secondary_color",
        "options": [
          { "value": "btn--white", "label": "White"},
          { "value": "btn--scarlet", "label": "Scarlet (red)"},
          { "value": "btn--dark", "label": "Dark"},
          { "value": "btn--outline", "label": "Transparent (black)"},
          { "value": "btn--outline--white", "label": "Transparent (white)"}
        ],
        "label": "Secondary Style",
        "default": "btn--dark"
      },
      {
        "type": "url",
        "id": "secondary_link",
        "label": "secondary Link"
      }
    ]
  }
{% endschema %}
