<div class="contact__info">
  <h1 class="contact-info__title">{% if section.settings.title != blank %}{{ section.settings.title }}{% else %}{{ page.title }}{% endif %}</h1>
  <p class="contact-info__content">{{ section.settings.content }}</p>
  <span class="contact-info__note">{{ section.settings.note }}</span>
</div>

<div class="contact__form-wrapper">
  {% assign formId = 'ReturnsForm' %}
  {% form 'contact', id: formId %}
    {% include 'form-status', form_id: formId %}

    <input type="hidden" value="{{ section.settings.form_type }}" name="contact[Form Type]">

    <div class="input-control">
      <label for="{{ formId }}-name"
        class="form-label required">Name</label>
      <input type="text"
        id="{{ formId }}-name"
        class="input form-input"
        name="contact[name]"
        value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
        required>
    </div>

    <div class="input-control">
      <label for="{{ formId }}-email"
        class="form-label required">Email</label>
      <input type="email"
        id="{{ formId }}-email"
        class="input form-input"
        name="contact[email]"
        autocorrect="off"
        autocapitalize="off"
        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
        aria-required="true"
        required>
    </div>

    <div class="input-control">
      <label for="{{ formId }}-quantity"
        class="form-label">QUANTITY YOU WANT TO QUOTE</label>
      <input type="number"
        id="{{ formId }}-quantity"
        class="input form-input"
        value="0"
        name="contact[QUANTITY YOU WANT TO QUOTE]">
    </div>

    <div class="input-control">
      <span class="form-label">HOW DO YOU NEED ITEMS TO BE SHIPPED?</span>
      <div class="form-input__radio-wrapper">
        <input type="radio"
          id="{{ formId }}-how-to-ship-1"
          checked
          class="form-radio radio-input"
          value="To a single address"
          name="contact[HOW DO YOU NEED ITEMS TO BE SHIPPED?]">
          <label class="form-radio__label" for="{{ formId }}-how-to-ship-1">To a single address</label>
      </div>

      <div class="form-input__radio-wrapper">
        <input type="radio"
          id="{{ formId }}-how-to-ship-2"
          class="form-radio radio-input"
          value="To multiple addresses"
          name="contact[HOW DO YOU NEED ITEMS TO BE SHIPPED?]">
          <label class="form-radio__label" for="{{ formId }}-how-to-ship-2">To multiple addresses</label>
      </div>

      <span class="form-input__note">Shipping to a single address will give you even higher savings.</span>
    </div>

    <div class="input-control">
      <span class="form-label">HOW WOULD YOU LIKE TO PAY?</span>
      <div class="form-input__radio-wrapper">
        <input type="radio"
          id="{{ formId }}-how-to-pay-1"
          checked
          class="form-radio radio-input"
          value="Total in one credit card"
          name="contact[HOW WOULD YOU LIKE TO PAY?]">
          <label class="form-radio__label" for="{{ formId }}-how-to-pay-1">Total in one credit card</label>
      </div>

      <div class="form-input__radio-wrapper">
        <input type="radio"
          id="{{ formId }}-how-to-pay-2"
          class="form-radio radio-input"
          value="Split total in different credit cards"
          name="contact[HOW WOULD YOU LIKE TO PAY?]">
          <label class="form-radio__label" for="{{ formId }}-how-to-pay-2">Split total in different credit cards</label>
      </div>

      <span class="form-input__note">Processing the total in one credit card will give you even higher savings.</span>
    </div>

    <div class="input-control">
      <label for="{{ formId }}-message"
        class="form-label required">Comment</label>

      <textarea id="{{ formId }}-message"
        rows="3"
        class="input form-input"
        name="contact[body]"
        placeholder="{{ section.settings.placeholder }}"
        required>{% if form.body %}{{ form.body }}{% endif %}</textarea>
    </div>

    <div class="input-control input-control--action-right">
      <button class="btn btn--scarlet">Submit</button>
    </div>
  {% endform %}
</div>

{% schema %}
{
  "name": "Contact form information",
  "class": "contact__wrapper",
  "settings": [
    {
      "type": "text",
      "id": "form_type",
      "label": "Form Name",
      "default": "Form Bulk Orders",
      "info": "This value will be send in the email to distinguish the forms"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Description"
    },
    {
      "type": "textarea",
      "id": "note",
      "label": "Note"
    },
    {
      "type": "textarea",
      "id": "placeholder",
      "label": "Textarea Placeholder"
    },
    {
      "type": "header",
      "content": "Form success Modal"
    },
    {
      "type": "text",
      "id": "success_title",
      "label": "Success Modal Title"
    },
    {
      "type": "richtext",
      "id": "success_text",
      "label": "Success Modal Text"
    },
    {
      "type": "product",
      "id": "success_product",
      "label": "Success Modal Product"
    },
    {
      "type": "image_picker",
      "id": "success_product_image",
      "label": "Success Modal Product image"
    }
  ]
}
{% endschema %}
