{% assign product_collection = '' %}
{% for collection in product.collections %}
  {% unless collection.handle contains 'noindex' %}
    {% assign product_collection = collection.handle %}
  {% endunless %}
{% endfor %}

{% comment %}
  Get first variant, or deep linked one
{% endcomment %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign product_image_zoom_size = '1024x1024' %}
{% assign product_image_scale = '2' %}
{% assign enable_zoom = section.settings.enable_zoom %}
{% assign compare_at_price = current_variant.compare_at_price %}
{% assign price = current_variant.price %}
{% assign metadata = product.metafields.product %}
{% assign days = section.settings.shipping_date | times: 24 | times: 60 | times: 60 %}
{% capture shipping_date %}{{ "now" | date: "%s" | plus: days | date: "%B, %Y" }}{% endcapture %}

<style>
  .site-menu a[href="/collections/{{ product_collection }}"] {
    border-color: black;
  }
</style>

<div class="product__container page-block"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
>
  <div class="product__header">
    <div class="product-header__images">
      <div class="product-header__images-wrapper js-slick-product-images">
        {% for image in product.images %}
          <img class="product-header__image"
            src="{{ image | img_url: '650x650' }}"
            alt="{{ product.title }}" />
        {% endfor %}
      </div>
      <div class="product-media__carousel-actions product-header__images-actions">
        <p class="product-media__carousel-counter js-slick-product-images-counter"></p>

        <div class="product-media__carousel-arrows">
          <button class="animation-parent js-slick-product-images__prev">
            <span class="animation--go-to rotate-180 icon icon--arrow"></span>
          </button>

          <button class="animation-parent js-slick-product-images__next">
            <span class="animation--go-to icon icon--arrow"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="product-header__details">
      <div class="product-header__title">
        <h1 class="product-header__title">{{ product.title | split: ' -' | first }}</h1>
        <span class="product-header__type">{{ product.type }}</span>
      </div>

      <div class="product-header-details__section product-header__prices">
        <div class="product-header__price-item">
          <span class="product-header__price">{{ price | money_without_trailing_zeros }}</span>
          <span class="product-header__price-label">Pre-Order</span>
        </div>
        {% if compare_at_price %}
          <div class="product-header__price-item">
            <span class="product-header__price product-header__price--retail">{{ compare_at_price | money_without_trailing_zeros }}</span>
            <span class="product-header__price-label">Traditional Retail</span>
          </div>
        {% endif %}
      </div>

      {% form 'product', product, class:form_classes, novalidate: 'novalidate' %}
        <div class="product-header-details__section product-header__variants">
          {% for option in product.options %}
            <h2 class="product-header__variants-title">{{ option }} {% if section.settings.size_page %}<a href="{{ section.settings.size_page }}" target="_blank" class="product-header__variant-instructions">What's my size?</a>{% endif %}</h2>
          {% endfor %}
          <div class="select-wrapper">
            <select name="id" class="select product-header__variant-select">
              {% for variant in product.variants %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                  value="{{ variant.id }}"
                  data-object="{{ variant | json }}">
                  {{ variant.title }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="product-header__buttons">
          <button id="AddToCart-{{ section.id }}"
            type="submit"
            name="add"
            {% unless current_variant.available %}disabled="disabled"{% endunless %}
            class="btn {{ section.settings.button_type }} product-header__button">
            <span id="AddToCartText-{{ section.id }}">
              {% unless current_variant.available %}
                {{ 'products.product.sold_out' | t }}
              {% else %}
                {{ 'products.product.add_to_cart' | t }}
              {% endunless %}
            </span>
          </button>
        </div>
        <p class="product-header__shipping-info">Pre-order now at a discounted price. Shipping: {{ shipping_date }}.<br /><span>Free shipping, free returns, free exchanges.</span></p>
      {% endform %}
    </div>
  </div>

  <div class="product__description rte">
    {{ product.description }}
  </div>

  {% include 'product-toolbar' with product, price %}
</div>

<span id="product-info">
  {% include 'product-information' with product %}

  {% include 'product-more-details' with product %}

  {% include 'product-shipping-details' with shipping_date, { shipping: section.settings } %}

  {% include 'product-media' with product %}

  {% include 'product-reviews' with { productId: product.id } %}

  {% include 'product-faq' %}
</span>

<script type="text/javascript">
  var productImagesSlider = $('.js-slick-product-images');

  function initializeImagesSlider() {
    if (window.innerWidth < 1024) {
      var productImagesSliderArrowPrev = $('.js-slick-product-images__prev');
      var productImagesSliderArrowNext = $('.js-slick-product-images__next');
      var $status = $('.js-slick-product-images-counter');

      productImagesSlider.on('init reInit afterChange', function(event, slick, currentSlide, nextSlide){
        var counter = (currentSlide ? currentSlide : 0) + 1;
        $status.text('0' + counter + ' / 0' + slick.slideCount);
      });

      productImagesSlider.slick({
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false
      });

      productImagesSliderArrowPrev.on('click', function() {
        productImagesSlider.slick('slickPrev');
      });

      productImagesSliderArrowNext.on('click', function() {
        productImagesSlider.slick('slickNext');
      });
    }
  }

  initializeImagesSlider();
  $(window).on('resize', function() {
    if (!productImagesSlider.hasClass('slick-initialized')) {
      initializeImagesSlider();
    }
  });
</script>

{% unless product == empty %}
  {% assign productData = product | json %}
  <script type="application/json" id="ProductJson">
    {{ productData }}
  </script>

  <script type="application/javascript">
    window.currentProduct = {{ productData }};

    {% for coll in product.collections %}
      {% unless coll.title contains '[NOINDEX]' %}
        window.currentProduct.collection = '{{ coll.handle }}';
      {% endunless %}
    {% endfor %}
  </script>
{% endunless %}

{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "type": "url",
      "id": "size_page",
      "label": "What's my size link"
    },
    {
      "type": "select",
      "id": "button_type",
      "options": [
        { "value": "btn--white", "label": "White"},
        { "value": "btn--scarlet", "label": "Scarlet (red)"},
        { "value": "btn--dark", "label": "Dark"},
        { "value": "btn--outline", "label": "Transparent (black)"},
        { "value": "btn--outline--white", "label": "Transparent (white)"}
      ],
      "label": "Button Style",
      "default": "btn--scarlet"
    },
    {
      "type": "header",
      "content": "Shipping Details"
    },
    {
      "type": "text",
      "id": "shipping_title",
      "label": "Title",
      "default": "Shipping Details"
    },
    {
      "type": "textarea",
      "id": "shipping_description",
      "label": "Description"
    },
    {
      "type": "number",
      "id": "shipping_date",
      "label": "Shipping",
      "info": "How many days for estimated shipping?",
      "default": 90
    },
    {
      "type": "header",
      "content": "Shipping Article 1"
    },
    {
      "type": "image_picker",
      "id": "shipping_icon_1",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "shipping_title_1",
      "label": "Title",
      "default": "Shipping Details 1"
    },
    {
      "type": "textarea",
      "id": "shipping_description_1",
      "label": "Description 1"
    },
    {
      "type": "header",
      "content": "Shipping Article 2"
    },
    {
      "type": "image_picker",
      "id": "shipping_icon_2",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "shipping_title_2",
      "label": "Title",
      "default": "Shipping Details 2"
    },
    {
      "type": "textarea",
      "id": "shipping_description_2",
      "label": "Description 2"
    },
    {
      "type": "header",
      "content": "Shipping Article 3"
    },
    {
      "type": "image_picker",
      "id": "shipping_icon_3",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "shipping_title_3",
      "label": "Title",
      "default": "Shipping Details 3"
    },
    {
      "type": "textarea",
      "id": "shipping_description_3",
      "label": "Description 3"
    }
  ]
}
{% endschema %}
