<style>
  .section-with-carousel {
    background-color: {{ section.settings.bgcolor }};
  }
</style>

<div class="section-with-carousel__wrapper">
  <div class="section-with-carousel__info">
    <h3 class="section-with-carousel__title js-section-with-carousel-title"></h3>
    <small class="section-with-carousel__small js-section-with-carousel-small"></small>
    <p class="section-with-carousel__description js-section-with-carousel-description"></p>
  </div>

  <div class="section-with-carousel__carousel-wrapper">
    <div class="product-media__carousel-container">

      <div class="product-media__carousel js-section-with-carousel">
        {% for block in section.blocks %}
          <div class="product-media__carousel-item"
            data-title="{{ block.settings.title }}"
            data-small="{{ block.settings.small_text }}"
            data-description="{{ block.settings.description }}">
            <img class="product-media__carousel-image"
              src="{{ block.settings.image | img_url: 'master' }}"
              alt="{{ block.settings.alt }}"/>
          </div>
        {% endfor%}
      </div>

      <div class="product-media__carousel-actions">
        <p class="product-media__carousel-counter js-section-with-carousel-counter"></p>

        <div class="product-media__carousel-arrows">
          <button class="animation-parent js-section-with-carousel__prev">
            <span class="animation--go-to rotate-180 icon icon--arrow"></span>
          </button>

          <button class="animation-parent js-section-with-carousel__next">
            <span class="animation--go-to icon icon--arrow"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(window).on('load', function() {
    var sectionCarousel = $('.js-section-with-carousel');
    var sectionCarouselArrowPrev = $('.js-section-with-carousel__prev');
    var sectionCarouselArrowNext = $('.js-section-with-carousel__next');
    var $status = $('.js-section-with-carousel-counter');
    var $sectionCarouselTitle = $('.js-section-with-carousel-title');
    var $sectionCarouselSmall = $('.js-section-with-carousel-small');
    var $sectionCarouselDescription = $('.js-section-with-carousel-description');

    function handleDescription(title, small, description) {
      $sectionCarouselTitle.html(title);
      $sectionCarouselSmall.html(small);
      $sectionCarouselDescription.html(description);
    };

    sectionCarousel.on('init reInit afterChange', function(event, slick, currentSlide, nextSlide){
      const activeSlide = Array.from(slick.$slides).filter(i => i.className.includes('active'));
      const datas = activeSlide[0].dataset;
      handleDescription(datas.title, datas.small, datas.description);


      var counter = (currentSlide ? currentSlide : 0) + 1;
      $status.text('0' + counter + ' / 0' + slick.slideCount);
    });

    sectionCarousel.slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false
    });

    sectionCarouselArrowPrev.on('click', function() {
      sectionCarousel.slick('slickPrev');
    });

    sectionCarouselArrowNext.on('click', function() {
      sectionCarousel.slick('slickNext');
    });
  });
</script>

{% schema %}
{
  "name": "Section With Carousel",
  "class": "section-with-carousel",
  "max_blocks": 12,
  "settings": [
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background Color",
      "default": "#1c1c1c"
    }
  ],
  "blocks": [
    {
      "type": "carousel_Image",
      "name": "Carousel Image",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Loprem"
        },
        {
          "type": "text",
          "id": "small_text",
          "label": "Small Text",
          "default": "Loprem"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Loprem ipsun..."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "alt",
          "label": "Alternative Text"
        }
      ]
    }
  ]
}
{% endschema %}
