<style>
  .two-paragraph-with-video {
    background-color: {{ section.settings.bgcolor }};
  }
</style>

<header class="layout-section__header">
  <p class="layout-section__description two-paragraph-with-video__description">{{ section.settings.description }}</p>

  <div class="two-paragraph-with-video__video">
    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <div class="wistia_embed wistia_async_{{ section.settings.video_id }} videoFoam=true" style="height:100%;position:relative;width:100%">
          <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
            <img src="https://fast.wistia.com/embed/medias/{{ section.settings.video_id }}/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;">
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="layout-section__description two-paragraph-with-video__description--last">{{ section.settings.description_2 }}</p>
</header>

<script src="https://fast.wistia.com/embed/medias/{{ section.settings.video_id }}.jsonp" async=""></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async=""></script>

{% schema %}
{
  "name": "Two Paragraph with Video",
  "class": "layout-section two-paragraph-with-video",
  "settings": [
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Lorem"
    },
    {
      "type": "text",
      "id": "video_id",
      "label": "Video Id"
    },
    {
      "type": "textarea",
      "id": "description_2",
      "label": "Last Description",
      "default": "Lorem"
    }
  ]
}
{% endschema %}
