<div style="background-color: {{ section.settings.color_bg }};">
  <header class="layout-section__header">
    <h1 class="layout-section__title">{{ section.settings.title }}</h1>
    <p class="layout-section__description">{{ section.settings.description }}</p>
  </header>
  <div class="layout-section__container page-block">
    <div class="layout-section__content">
      <div class="media-video__iframe-wrapper">
        {% if section.settings.video_url %}
          {% if section.settings.video_url.type contains "youtube" %}
            <iframe
              src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          {% else %}
            <iframe
              src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}"
              webkitallowfullscreen
              mozallowfullscreen
              allowfullscreen></iframe>
          {% endif %}
        {% elsif section.settings.wistia_id != blank %}
          <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
              <div class="wistia_embed wistia_async_{{ section.settings.wistia_id }} videoFoam=true" style="height:100%;position:relative;width:100%">
                <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                  <img src="https://fast.wistia.com/embed/medias/{{ section.settings.wistia_id }}/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;">
                </div>
              </div>
            </div>
          </div>

          <script src="https://fast.wistia.com/embed/medias/{{ section.settings.wistia_id }}.jsonp" async=""></script>
          <script src="https://fast.wistia.com/assets/external/E-v1.js" async=""></script>
        {% else %}
          {{ section.settings.embed_video }}
        {% endif %}
      </div>
    </div>
    <a href="{{ section.settings.cta_link }}" class="btn {{ section.settings.button_type }}">{{ section.settings.cta_text }}</a>
  </div>
</div>

{% schema %}
{
  "name": "Video",
  "class": "layout-section media-video",
  "settings": [
    {
      "type": "color",
      "id": "color_bg",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Loprem ipsun..."
    },
    {
      "id": "video_url",
      "type": "video_url",
      "label": "Video URL",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "text",
      "id": "wistia_id",
      "label": "Wistia Video ID"
    },
    {
      "type": "html",
      "id": "embed_video",
      "label": "Embed Video"
    },
    {
      "type": "header",
      "content": "Section CTA options"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "Section CTA",
      "default": "My link"
    },
    {
      "type": "select",
      "id": "button_type",
      "options": [
        { "value": "btn--white", "label": "White"},
        { "value": "btn--scarlet", "label": "Scarlet (red)"},
        { "value": "btn--dark", "label": "Dark"},
        { "value": "btn--outline", "label": "Transparent (black)"},
        { "value": "btn--outline--white", "label": "Transparent (white)"}
      ],
      "label": "Button Style",
      "default": "btn--scarlet"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "Section CTA Link"
    }
  ],
  "presets": [
    {
      "name": "Video",
      "category": "Media"
    }
  ]
}
{% endschema %}
