{% comment %}
  Comments may not appear right after they are submitted, either to be checked by Shopify's spam filter
  or to await moderation. When a comment is submitted, the browser is redirected to a page
  that includes the new comment id in its URL.
    Example: http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372
{% endcomment %}

{% assign number_of_comments = article.comments_count %}

<article class="blog-post-article">
  {% section 'article-template' %}
</article>

{% if blog.comments_enabled? %}
  {% if number_of_comments > 0 %}
    <h2 class="h3">{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</h2>

    {% paginate article.comments by 5 %}

      {% comment %}
        #comments is required, it is used as an anchor link by Shopify.
      {% endcomment %}
      <div id="comments">
        <ul class="article__comments">
          {% for comment in article.comments %}
            <li id="{{ comment.id }}" class="comment">
              {% include 'comment' %}
            </li>
          {% endfor %}
        </ul>

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}

      </div>
    {% endpaginate %}
  {% endif %}

  {% form 'new_comment', article %}

    {% assign formId = 'CommentForm' %}

    <h2>Leave a comment</h2>
    {% if blog.moderated? %}
      <p class="">Please note, comments must be approved before they are published.</p>
    {% endif %}

    <div class="comment__form">
      <div class="comment__form-row">
        <div class="comment__form-wrapper">
          <label for="{{ formId }}-name"
            class="comment__form-label">Name</label>
          <input id="{{ formId }}-name"
            class="comment__form-input"
            type="text"
            name="comment[author]"
            value="{{ form.author }}" />
        </div>

        <div class="comment__form-wrapper">
          <label for="{{ formId }}-email"
            class="comment__form-label">Email</label>
          <small>Will not be published</small>
          <input id="{{ formId }}-email"
            class="comment__form-input"
            type="email"
            name="comment[email]"
            value="{{ form.email }}" />
        </div>
      </div>

      <div class="comment__form-row">
        <div class="comment__form-wrapper">
          <label for="{{ formId }}-message"
            class="comment__form-label">Comment</label>
          <textarea id="{{ formId }}-message"
            name="comment[body]"
            class="comment__form-input comment__form-textarea">{{ form.body }}</textarea>
        </div>
      </div>

      <div class="comment__form-row">
        <button class="btn btn--scarlet">Submit</button>
      </div>
    </div>
  {% endform %}
{% endif %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": "{{ article.content | strip_html }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ shop.url }}{{ page.url }}"
  },
  "headline": "{{ article.title }}",
  {% if article.excerpt != blank %}
    "description": "{{ article.excerpt | strip_html }}",
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      "https:{{ article | img_url: image_size }}"
    ],
  {% endif %}
  "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author }}"
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ settings.share_image.height }}",
        "url": "https:{{ settings.share_image | img_url: image_size }}",
        "width": "{{ settings.share_image.width }}"
      },
    {% endif %}
    "name": "{{ shop.name }}"
  }
}
</script>
