{% paginate search.results by 10 %}
  <h1 class="visually-hidden">{% if search.performed == false %}Search Something{% else %}Search results: {{ search.results_count }} results for {{ search.terms }}{% endif %}</h1>

  <div class="search__wrapper">
    {% if search.performed %}
      <ul class="search-results__list">
        {% for item in search.results %}
          {% assign image = blank %}
          {% if item.object_type == 'product' %}
            {% assign action = 'View Product' %}
            {% assign image = item.featured_image.src | img_url: '70x70' %}
            {% assign content = item.type %}
          {% elsif item.object_type == 'article' %}
            {% assign action = 'Read Post' %}
            {% assign image = item.image | img_url: '70x70' %}
            {% assign content = item.content | strip_html | truncate: 80 %}
          {% elsif item.object_type == 'page' %}
            {% assign action = 'Read More' %}
            {% assign content = item.content | strip_html | truncate: 94 %}
          {% endif %}

          <li class="search-results__item {% if image == blank %}search-results__item--no-image{% endif %}">
            <a href="{{ item.url }}" class="search-results__item-link">
              {% if image != blank %}
                <img src="{{ image }}"
                  class="search-results__item-image"
                  alt="{{ item.title }}"/>
              {% endif %}

              <div class="search-results__item-info">
                <h3 class="search-results__item-title">{{ item.title }}</h3>
                <p class="search-results__item-content">{{ content }}</p>
                <span class="search-results__item-button">{{ action }}</span>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    {% endif %}
  </div>
{% endpaginate %}
